/* フォームスペース */
.todo{
    max-width: 1200px;
    margin: 50px auto ;
}

.todo__form{
    margin-bottom: 40px;
}

.todo__form form {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.todo__input{
    width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.todo__button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    background: #000;
    color: #fff;
    border-radius: 3px;
}

/* タスクスペース */
.todo__list {
    max-width: 700px;
    margin: 0 auto;
}

.todo__list--title {
    margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.todo__list--items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo__list--item form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo__list--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.todo__update--text{
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    width: 300px;
}

.todo__btns{
    margin-left: auto;
        display: flex;
        gap: 20px;
}

.todo__list--btn{
    display: flex;
    gap: 10px;
    font-size: 15px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.update{
    background: blue;
}

.delete{
    background: red;
}

 /* message */
.message {
    background: #f0f0f0;
    padding: 10px 0;
    margin: 0;
}

.message__inner {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
}

/* エラーメッセージ */
.form__error {
    background: #ffe5e5;
    padding: 10px 0;
    margin: 0;
}

.form__error--inner {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
}
